{% extends "base.html" %}

{% block main %}
{% for recipe in recipes %}
<div class="featured">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <!--<h4>Oct 30, 2017</h4>-->
          <h3>Recipe Info</h3>
          <h4>Added: {{date}}</h4>
          <p>Calorie: {{recipe[2]}} | Servings: {{recipe[3]}} | Diet Type: {{recipe[6]}}</p>
          <p>Cook Time: {{recipe[4]}} | Prep Time: {{recipe[5]}} </p>
        </div>
        <div class="col-lg-8">
          <div class="box grid recipes">
            <a href="#">
              <img src="{{url_for('static', filename='uploads/MR_0917170472.jpg')}}" />
            </a>
            <h2><a href="#">{{recipe[1]}}</a></h2>
            <p>Dapibus mattis a. Nec lacus nam. Volutpat molestie ipsum. Eu et fermentum malesuada et et lorem mauris aenean partur..</p>
            <div class="tag">
            {% for ingredient in ingredient_name %}
               <a href="#">{{ingredient[1]}}</a>
             {% endfor %}
            </div>
            <br>
            <div class="row justify-content-center">
               <div class="row">
               
                  {% for instruction in instructions %}

                     <p>Step {{(instruction[3])}}:{{instruction[2]}}</p>
                  {% endfor %}
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
